.about {
  padding: 12rem 5rem;
  // background-color: #eee;
  background-color: rgba(30%, 27%, 35%, 0.1);
  height: 100%;
  letter-spacing: .3rem;
  text-align: center;
  
  @include respond(tab-port) {
    padding: 6rem 3rem;
  }

  &__description {
    font-size: 2.5rem;
    line-height: 6rem;

    @include respond(tab-port) {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
  }

  &__title {

    &--main {
      font-size: 4.5rem;
      display: inline-block;

      @include respond(tab-port) {
        font-size: 4rem;
      }
    }

    &--sub {
      
    }
  }
}
