.about {
  padding: 12rem 5rem;
  background-color: #eee;
  height: 100%;
  letter-spacing: .3rem;
  text-align: center;
  
  @include respond(tab-port) {
    padding: 6rem 3rem;
  }

  &__description {
    font-size: 2.5rem;
    // line-height: 6rem;
    text-indent: 4rem;
    text-align: justify;
    letter-spacing: 3px;

    @include respond(tab-port) {
      font-size: 2.5rem;
      line-height: 5.5rem;
    }
  }

  &__title {

    &--main {
      font-size: 4.5rem;
      display: inline-block;
      position: relative;

      &--highlight {
        width: 25rem;
        height: 1rem;
        top: 6.5rem;
        left: -2rem;
        background-color: rgba($color-primary, .6);
        position: absolute;

        @include respond(tab-port) {
          width: 18.4rem;
          top: 3.7rem;
        }
      }

      @include respond(tab-port) {
        font-size: 4rem;
      }
    }

    &--sub {
      
    }
  }
}
