.section-education {
    height: 100%;
    // background-color: #F64313;
    background-color: rgba(#747A92, .19);
    padding: 6rem 3rem;
    display: flex;
    flex-direction: column;
    z-index: 5;

}

.education {
    width: 75%;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-white, .6);
    margin: 6rem auto;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__container {
        margin: auto 0;
    }


    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        position: relative;
    
        // shape-outside requires element to have width/height and float prop
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
    
        transform: translateX(-3rem) skewX(12deg);
      }
    
      &__img {
        height: 100%;
        transform: translateX(0rem) scale(1.4);
        transition: all .5s;
      }
    
      &__text {
        transform: skewX(12deg);
      }
    
      &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        // Hides the backside of an element, can be used to fix animation glitch
        backface-visibility: hidden;
      }
    
      &:hover &__caption {
          opacity: 1;
          transform: translate(-50%, -50%); 
      }
    
      &:hover &__img {
        transform: translateX(0rem) scale(1.1);
        filter: blur(3px) brightness(80%);
      }
}