// main primary heading container

.header {
  
  &__primary {
    // background-color: red;
    height: 62vh;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    align-items: flex-end;
    padding: 0 4rem 0 4rem;
    margin-right: 2rem;
    width: 100%;
    position: relative;
    opacity: .89;

    
    .icon-box {
      border-radius: 10rem;
      background-color: $color-primary-orange-1;
      height: 16rem;
      width: 16rem;
      margin-right: 3.5rem;
      position: relative;
      // z-index: 100;
      transition: all .3s;

      @include respond(tab-port) {
        margin-bottom: 1rem;
      }
      
      &__icon {
        height: 16rem;
        width: 16rem;
      }
    }
  }

  &__container {
    display: flex;
    animation: moveInLeft 1.3s ease-out;
    padding: 2rem;
    letter-spacing: .5rem;

    @include respond(tab-port) {
      flex-direction: column;
      letter-spacing: 0;
    }
  }

  &__title-main {
    color: $color-black;
    align-self: flex-end;
    font-size: 3.5rem;
    background-color: papayawhip;
    transition: all .3s;

    @include respond(tab-port) {
      align-self: flex-start;
      margin-bottom: .5rem;
      font-size: 1.6rem;
    }

    &:hover {
      @include cardpop($color-primary-orange-1, cornflowerblue); // pop out animation
    }
  }

  &__title-sub {
    color: $color-grey-dark-3;
    align-self: flex-end;
    font-size: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: -.5rem;
    background-color: papayawhip;
    transition: all .3s;

    @include respond(tab-port) {
      margin-left: 0;
    }

    &:hover {
      @include cardpop($color-primary-orange-1, cornflowerblue); // pop out animation
    }
  }
  
}


