
// main primary heading container
.heading-primary {
  background-color: red;
  height: 50vh;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  align-items: flex-end;
  padding: 0 4rem 0 4rem;

  .icon-box {
    border-radius: 10rem;
    background-color: orange;
    height: 8rem;
    width: 8rem;
  }

}

.header__container {
  display: flex;
  // flex-direction: column;
  animation: moveInLeft 1.3s ease-out;
  // margin-left: 7rem;

  .title-main {
    color: purple;
    align-self: flex-end;
    font-size: 1.6rem;
  }

  .title-sub {
    color: yellow;
    align-self: flex-end;
    font-size: 2rem;
  }
} 