.projects {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #eee;
  padding: 6rem 3rem;
  flex-wrap: wrap;

  @include respond(tab-port) {
    flex-direction: column;
    height: 100%;
    padding: 6rem 3rem;
  }

  &__title {
    margin: 2rem 0;
  }

  &__text {
    margin: 0 2rem 2rem 2rem;
  }

  &__logo {

    @include respond(tab-port) {
      padding: 2rem;
    }
    
    &__icon {
      width: 5rem;
    }

    &__icon:first-child {
      margin-right: 2rem;
    }
  }

  &__container {
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: transform 0.3s;
    align-self: center;
    width: 33rem;
    height: 55rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    @include respond(tab-port) {
      width: 80vw;
      height: auto;
    }

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }

  &__screen {
    margin-bottom: -1rem;

    &--img {
      width: 100%;
      height: auto;

    }


  }
}
