*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Root font-size will be here as reference to all rem units.*/
/* Percentage of default font-size. Usually would be 16px */
html {
  // Base definition for 1 rem.
  font-size: 62.5%;
  padding: 2rem;
}

/* body properties will be inherited by all other body
   elements, padding will only go around the body element.*/
body {
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark-1;
  
}

@media only screen and (max-width: 520px) {
  html {
    padding: 0;
  }
}
