// not used, starter mixin
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin cardpop($bg-color, $text-color) {
  transform: scale(1.3) rotate(5deg);
  background-color: rgba($bg-color, 0.8);
  color: $text-color;
  box-shadow: -4px 1rem 2rem 5px $color-black;
}

@mixin centerfix {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin subtleBoxShadow {
  box-shadow: 0 2rem 4rem rgba($color-black, .2);
}