// COLORS
$color-primary-grn: #28b485;

$color-primary-orange: #ff4f00; // International Orange (golden gate bridge)

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;