@import "styles/mixins";
@import "styles/animations";
@import "styles/variables";
@import "styles/utilities";
@import "styles/base";


// Components
@import "styles/components/button";
@import "styles/components/header";
@import "styles/components/about";
@import "styles/components/bg-photo";
@import "styles/components/education";
@import "styles/components/navigation";
@import "styles/components/projects";
@import "styles/components/popup";
@import "styles/components/footer";
@import "styles/components/email";
@import "styles/components/technologies";