@import "styles/animations";
@import "styles/variables";
@import "styles/utilities";
@import "styles/base";

// Components
@import "styles/components/button";
@import "styles/components/header";
@import "styles/components/about";